<div class="container-fluid hstack justify-content-between" style="background-color:#6f42c1;">
	{% if session.user.role != 'admin' %}
		<div class="container hstack justify-content-start">
			<div class="p-1">
    		<a href="/" class="btn btn-light">
			    <i class="fa-solid fa-home"></i>
	    	</a>	
			</div>
			<div class="p-1">
				<a href="/list_posts?categoria_id=1" class="btn btn-light">
					<i class="fa-solid fa-film"></i>
				</a>
			</div>
			<div class="p-1">
				<a href="/list_posts?categoria_id=2" class="btn btn-light">
					<i class="fa-solid fa-music"></i>
				</a>
			</div>
			<div class="p-1">
				<a href="/list_posts?categoria_id=3" class="btn btn-light">
					<i class="fa-solid fa-masks-theater"></i>
				</a>
			</div>
			<div class="p-1">
				<a href="/list_posts?categoria_id=4" class="btn btn-light">
					<i class="fa-solid fa-book"></i>
				</a>
			</div>
		</div>
		{% else %}
			<div>
			</div>
		{% endif %}
	<div class="container hstack justify-content-end">
		{% if session.user.role == 'admin' %}
		<div class="p-1">
			<form method="POST" class="p-1" action="/user/post/list_table">
				<button type="submit" class="btn btn-dark">
			    	<i class="fa-solid fa-file-powerpoint"></i>
				</button>
			</form>
		</div>
		<div class="p-1">
			<form method="POST" class="p-1" action="/session/static/logout">
				<button type="submit" class="btn btn-dark">
		    		<i class="fa-solid fa-door-open"></i>
				</button>
			</form>
		</div>
		{% else %}
		<div class="p-1">
        	<a href="/session/static/login_form" class="btn btn-light">
            	<i class="fa-regular fa-lock"></i>
        	</a>
        </div>
		{% endif %}
	</div>
</div>
	
