        <footer class="bg-dark pt-2 text-white">
            <div class="container"> 
                <div class="pb-3 pt-3 small"> 
                    <hr class="border-secondary mt-0"> 
                    <div class="align-items-center row">
                        <div class="col-md pb-2 pt-2">
                            <p class="mb-0">Realizzato nel 2022-2023 | Powered by MBCRAFT</p>
                        </div>
                        <div class="col-md pb-2 pt-2">
                        	<p class="mb-0"><a href="/privacy_policy">Cookie e Privacy Policy</a></p>
                        </div>
                    </div>
                    <div class="align-items-center row">
                    	<div class="col text-center">
                    		Credits : 
                    	</div>
                    </div>
                    <div class="align-items-center row credits">
                    	<div class="col-md pb-2 pt-2">
                    		Foto di <a href="https://unsplash.com/@dmjdenise?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Denise Jans</a> su <a href="https://unsplash.com/it/foto/9lTUAlNB87M?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    	</div>
						<div class="col-md pb-2 pt-2">
							Foto di <a href="https://unsplash.com/@jefflssantos?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jefferson Santos</a> su <a href="https://unsplash.com/it/s/foto/music?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
						</div>
						<div class="col-md pb-2 pt-2">
							Foto di <a href="https://unsplash.com/@gwenking?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Gwen King</a> su <a href="https://unsplash.com/it/s/foto/theatre?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
						</div>
						<div class="col-md pb-2 pt-2">
							Foto di <a href="https://unsplash.com/@alvaroserrano?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Álvaro Serrano</a> su <a href="https://unsplash.com/it/s/foto/poetry?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    	</div>
                    </div>                     
                </div>                 
            </div>
        </footer>