<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="">
        <title>Customer Name - Blog</title>
        <!-- Bootstrap core CSS -->
        {% include 'pages/common/head_assets.twig' %}
        <link rel="stylesheet" href="/assets/css/blocks.css" >
    </head>
    <body class="fw-light text-secondary">
        {% include 'pages/common/top_menu_panel.twig' %}

        <div class="container row justify-content-center">
        	<div class="col-8">
        		<h1 class="p-3">www.marcobedeschi.it</h1>
		        <h2>Cookie Policy</h2>
		        <p>
		        	Il presente sito usa solo cookie tecnici.
		        	Nello specifico sono :
		        	<ul>
		        		<li>PHPSESSIONID : utilizzato per mantenere la sessione del PHP, usata dal framework per diverse funzionalit&agrave;</li>
		        	</ul>
		        </p>
		        <h2>Privacy Policy</h2>
		        <p>
		        	Il seguente sito richiede a chi effettua commenti di inserire il proprio nominativo e opzionalmente la propria email oltre al commento stesso. I dati inseriti sono usati esclusivamente per la visualizzazione dei commenti, e le email opzionalmente per l'invio di notifiche dei commenti di risposta ricevuti. I dati sono salvati su database protetto da password e non sono condivisi con nessuno per scopi commerciali o altro.
		        </p>
		        <p>Titolare del trattamento dei dati personali &egrave; <a href="http://www.mbcraft.it">MBCRAFT di Marco Bagnaresi</a>, azienda che ha realizzato il presente sito web.</p>
		        <br />
		        <h5>Titolare del trattamento :</h5>
		        Marco Bagnaresi<br />
		        Via ca' del vento, 11<br />
		        48012 - Bagnacavallo(RA)<br />
		        <br />
        	</div>
        </div>
        {% include 'pages/frontend/footer.twig' %}
    </body>
</html>
