<html lang="it">
	<head>
		<title>Sito web in costruzione</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div align="center">
            <div style="padding:50px;width:800px;">
                <img src="/assets/images/errors/503.png" alt="image not found" style="float:left;display:inline-block;"/>
                <div style="padding:50px;width:440px;display:inline-block;">
                    <h2>Sito web in costruzione</h2>
                    <h4>Il sito web &egrave; in costruzione. Sar&agrave; disponibile prossimamente.</h4>
                </div>
            </div>
        </div>
	</body>
</html>